# libraries the project depend on
# Flask-JWT-Extended
# Flask-Smorest
# Flask-SQLAlchemy
# passlib
# marshmallow
# python-dotenv
# gunicorn

flask
flask-Smorest
python-dotenv
sqlalchemy
flask-sqlalchemy
flask-jWT-extended
gunicorn